<!-- <div class="container mb-5"> -->
  <%# if policy(Pet).create? %>
    <%#= link_to "+ New Pet", new_pet_path, class: 'btn btn-primary mb-3' %>
  <%# end %>
<div class="container">
  <div class="top-pets">
      <h2 class="card-card_pet_title">
       Top pets this week:
      </h2>
    <div class="top-pet-row">
      <% @pets.sort_by { |pet| - pet.average_rating }.take(5).each do |pet| %>
        <div class="card card_pet mx-2" id="card-top-3">
          <%= link_to pet_path(pet) do %>
            <%= cl_image_tag pet.photo, class: "card-img-top pet-img" %>
          <% end %>
          <div class="card-body p-2">
            <div class="card-text">
              <p class="mb-0 font-weight-bold"><%= pet.name %></p>
              <div><%= render 'components/star', pet: pet %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class="d-flex">
  <!-- cards grid -->
  <div class="cards-grid left">
    <%= render 'components/card_pet', pets: @pets %>

  </div>

  <!-- map -->
  <div class="right vh-100">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="index_map_style"></div>
  </div>
</div>



<!-- button to make a new pet -->
<!-- <div class="container mb-5"> -->
  <%# if policy(Pet).create? %>
    <%#= link_to "+ New Pet", new_pet_path, class: 'btn btn-primary mb-3' %>
  <%# end %>

<!--
