<!-- <div class="container mb-5"> -->
  <%# if policy(Pet).create? %>
    <%#= link_to "+ New Pet", new_pet_path, class: 'btn btn-primary mb-3' %>
  <%# end %>
<div class="_1gw6tte">
  <div class="_1sx1020z">
    <div>
      <div class="_aov0j6">
        <div>
          <div class="_1edw18ts">
            <div class="_5kaapu">
              <div>
                <div class="_76dwae">
                  <h3 class="_jmmm34f">
                    <div>
                      TOP 5 OF THIS WEEK
                    </div>
                  </h3>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div>

            <div style="margin-top: 8px; margin-bottom: 8px;">
              <div class="_6htn2u">
                <ul class="_3uceys">
                  <% @pets.sort_by { |pet| - pet.average_rating }.first(5).each do |pet| %>
                  <li class="_1hfjk81" style="border-width: 0px 5px; max-width: 33.3333%; flex: 0 0 33.3333%;">
                    <%= link_to pet_path(pet) do %>
                      <%= cl_image_tag pet.photo, class: "card-picture" %>
                        <h5><%= pet.name.upcase! %></h5>
                        <p><%= "⭐️" * pet.average_rating %></p>
                    <% end %>
                  <% end %>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex">
  <!-- cards grid -->
  <div class="cards-grid left vh-100">
    <%= render 'components/card_pet' %>

  </div>

  <!-- map -->
  <div class="right vh-100">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="index_map_style"></div>
  </div>
</div>



<!-- button to make a new pet -->
<!-- <div class="container mb-5"> -->
  <%# if policy(Pet).create? %>
    <%#= link_to "+ New Pet", new_pet_path, class: 'btn btn-primary mb-3' %>
  <%# end %>

<!--
