<div class="d-flex flex-wrap" id="user_card">
  <div class="user_show_big_img d-inline-block mb-3" style="background-image: url(<%= cl_image_path @user.photo %>);" ></div>

  <div class="flex-grow-1 mr-3 user_show_description_box">
    <h3 class="headers-font"><%= @user.first_name %> <%= @user.last_name %></h3>
    <%= link_to "Edit your details", edit_user_path(@user) %>
    <h5 class="mt-2">Description</h5>
    <p><%= @user.description %></p>
    <h5>Address</h5>
    <p><%= @user.address %></p>
    <h5>Email</h5>
    <p><%= @user.email %></p>
  </div>
</div>
