
<% if policy(Pet).create? %>
  <%= link_to "+ New Pet", new_pet_path %>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <% @pets.each do |pet| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="d-flex align-items-center m-1">
        <div class="card" style="width: 18rem;">
          <%= cl_image_tag pet.photo, height: 250, width: 250, crop: :fill%>
          <div class="card-body">
            <h5 class="card-title"><%= pet.name %></h5>
            <h6><%= pet.address %></h6>
            <p><%= pet.price %>€</p>
            <%= link_to 'Pet Details', pet_path(pet), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
