<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-lg-8">
      <%= cl_image_tag @pet.photo, class: 'pet-show-image'%>

      <% if @pet.reviews.any? %>
        <%= render 'components/pets_show_reviews' %>
      <% end %>
      <div class="border-bottom my-5"></div>

      <h5>Address</h5>
      <p><%= @pet.address %></p>

      <!-- map -->
      <div class="booking_show_map">
          <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          class="booking_show_map"></div>
      </div>

    </div>
    <div class="col-lg-4">
      <h3 class="display-4"><%= @pet.name %></h3>
      <p><%= @pet.price %>€ per day</p>
      <h5>Details</h5>
      <p class="lead"><%= @pet.description %></p>

      <div class="border-bottom my-5"></div>
      <div class="position-sticky-2 pet-booker">
        <h3>Book <%= @pet.name %></h3>
        <%= simple_form_for [@pet, @booking] do |f| %>
          <div class="form-inputs">
            <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"} %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Book this pet", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
      <%#= link_to 'Book this pet', new_pet_booking_path(@pet), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

