<div class="container d-inline-flex justify-content-around align-items-center my-3">
  <div class="user-avatar">
    <%= cl_image_tag current_user.photo, height: 250, width: 250, crop: :fill%>
  </div>

  <div class="icon" style="font-size: 2.5rem;">
    <i class="fas fa-plus-circle"></i>
  </div>

  <div class="pet-avatar">
    <%= cl_image_tag @pet.photo, height: 250, width: 250, crop: :fill%>
  </div>
</div>

<div class="justify-content-center">
  <h1>It's a DATE!</h1>

  <div class="booking-info">
    <p class="label">Pet's name: </p>
    <p class="input"><%= @pet.name.capitalize %></p>
    <p class="label">Dates:</p>
    <p class="input"><%= @booking.start_date %> - <%= @booking.end_date %></p>
    <p class="label">Location</p>
    <p class="input"><%= @pet.address %></p>
    <p class="label">Total price</p>
    <p class="input"><%= @pet.price %></p>
  </div>
</div>

<% if @review.id.nil? %>
  <h3>Review this pet:</h3>
  <%= simple_form_for [@booking, @review] do |f| %>
    <%= f.input :rating, collection: (0..5) %>
    <%= f.input :content %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
<% else %>
  <h3>Review:</h3>
  <h5>Rating: <%= "⭐️" * @review.rating %></h5>
  <p><%= @review.content %></p>
<% end %>





<%= link_to 'Delete this booking', pet_booking_path(@pet, @booking), method: :delete, data: { confirm: "Are you sure?" } %>
