<div class="booking-banner d-flex justify-content-center align-items-center">
  <div class="">
    <h1 class="d-inline-block">It's a date!</h1>
  </div>
</div>


<div class="container mb-5">

<div class="d-flex">
  <div class="flex-shrink-0 d-inline-block">
    <div class="d-inline-flex align-items-center my-3">
      <%= link_to user_path(@booking.user) do%>
        <div class="d-inline-block user_or_pet_block">
          <%= cl_image_tag @booking.user.photo, class: 'avatar-large d-inline-block booking_user_or_pet_image' %>
          <p class="d-inline-block"><%= @booking.user.first_name %></p>
        </div>
      <% end %>

      <div class="d-inline-block booking_inner_div"><p>&nbsp&&nbsp</p></div>



      <%= link_to pet_path(@pet) do%>
        <div class="d-inline-block user_or_pet_block">
          <%= cl_image_tag @pet.photo, class: 'avatar-large d-inline-block' %>
          <p class="d-inline-block"><%= @pet.name %></p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="flex-grow-1"></div>

  <div class="flex-shrink-0 d-inline-block booking_dates_div d-flex align-items-center">
    <h5>Start</h5>
    <p><%= @booking.start_date.strftime("%B #{@booking.start_date.day.ordinalize}, %Y")%></p>
    <h5>End</h5>
    <p><%= @booking.end_date.strftime("%B #{@booking.end_date.day.ordinalize}, %Y") %></p>
  </div>
</div>

  <div class="d-flex justify-content-between">
    <table class="table table-borderless table-hover text-left">
      <tbody>
        <tr>
          <td class="text-muted">Booking number</td>
          <td class="font-weight-bold text-right"><%= @booking.id %></td>
        </tr>
        <tr>
          <td class="text-muted">Total price</td>
          <td class="font-weight-bold text-right"><%= calcule_price(@pet.price, @booking.start_date, @booking.end_date) %> € </td>
        </tr>
        <tr>
          <td class="text-muted">Location</td>
          <td class="font-weight-bold text-right"><%= @pet.address %></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="booking_show_map">
      <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      class="booking_show_map"></div>
  </div>


  <div class="border-bottom my-5"></div>
  <%= link_to 'Delete this booking', pet_booking_path(@pet, @booking), method: :delete, data: { confirm: "Are you sure?" }, class: 'mt-5' %>

</div>
